#quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#quote span:first-child {
  font-size: 20px;
  font-weight: 600;
}

#quote span:last-child {
  font-size: 14px;
  margin-top: 10px;
}
