#todo-list {
  color: whitesmoke;
  list-style-position: inside;
  font-size-adjust: 24px;
}

#todo-list span {
  color: white;
}

#todo-list button {
  color: white;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
}
